*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: 'Pixel Sans Serif Condensed';
  src: url('../src/assets/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Sans Serif Condensed';
  src: url('../src/assets/fonts/PixelifySans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Sans Serif Condensed';
  src: url('../src/assets/fonts/PixelifySans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Sans Serif Condensed';
  src: url('../src/assets/fonts/PixelifySans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'pixelmix';
  src: url('../src/assets/fonts/pixelmix.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pixel Sans Serif Condensed';
  font-weight: 400;
  background-color: #000000;
}